<div class="row-is-full content has-text-centered text-decoration-none">
    <p class="text-decoration-none">
      <strong><i class="fas fa-glass-whiskey"></i>Liquor Lover</strong> by <a class="text-decoration-none" href="https://github.com/karmjeetnamol">Karm Nehal</a>
    </p>
  </div>